.OUTLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 2;
}
#CD11 {
    fill: #f1c40f;
}
#CD26 {
    fill: #16a085;
}
#CD27 {
    fill: #f39c12;
}
#CD28 {
    fill: #2ecc71;
}
#CD29 {
    fill: #e67e22;
}
#CD30 {
    fill: #27ae60;
}
#CD31 {
    fill: #d35400;
}
#CD36 {
    fill: #3498db;
}
#CD41 {
    fill: #e74c3c;
}
#CD42 {
    fill: #2980b9;
}
#CD43 {
    fill: #c0392b;
}
#CD44 {
    fill: #9b59b6;
}
#CD45 {
    fill: #8e44ad;
}
#CD46 {
    fill: #34495e;
}
#CD47 {
    fill: #2c3e50;
}
#CD48 {
    fill: #1abc9c;
}
#CD50 {
    fill: #f1c40f;
}
.TEXT {
    fill: #ffffff;
    font-size: 16;
    font-weight: bold;
    text-anchor: middle;
    alignment-baseline: middle;
}
.OUTLINE.active {
    stroke: #2ecc71;    
}
.TEXT.active {
    fill:#2ecc71;
}

.cursor {
    position: absolute;
    color : #FFFFFF;
    height : 90px;
    padding: 15px;
    /* border-radius: 50%; */
    background-color: #000;
    background-attachment: fixed;
    background-size: cover;
    border:5px solid rgb(110, 117, 110);
    overflow: hidden;
    z-index: 99;
}
.cursor.active {
    transform: scale(20);
}
